<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Odin Club</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/sign-up">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/vip">VIP</a>
      </nav>
    </header>
    <main><%- body %></main>
    <footer>
      <p>&copy; 2025 Odin Club</p>
    </footer>
  </body>
</html>
